/* GlowingIcons.css */
.glow-icon {
  transition: transform 0.2s ease-in-out;
}

.glow-icon:hover {
  transform: scale(1.1);
}

/* Add specific animations for WhatsApp and Phone icons */
.glow-icon-whatsapp {
  animation: bounce 0.5s infinite alternate;
}

.glow-icon-phone {
  animation: bounce 0.5s infinite alternate-reverse;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}

/* GlowingIcons.css */
.glow-icon-email {
  animation: bounce 0.5s infinite alternate;
}
